* {
  -webkit-box-sizing: border-box; }

body {
  padding: 5px;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font: 14px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif; }

#growl {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 270px;
  height: 60px;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: "reveal"; }

#notification {
  background: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  color: white;
  padding: 10px 10px 10px 60px;
  border-radius: 7px;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(255, 255, 255, 0.6); }
  #notification #icon {
    float: left;
    margin: 0 10px 0 -50px; }
    #notification #icon img {
      width: 40px;
      height: 40px;
      display: block; }
  #notification #title {
    line-height: 1;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 5px; }
  #notification #text {
    opacity: 0.6; }

@-webkit-keyframes 'reveal' {
  0% {
    opacity: 0;
    -webkit-transform: scale(6, 4); }

  70% {
    opacity: 0.4; }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1); } }
